*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Rubik', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Nunito', sans-serif;
}

p{
    font-family: 'Rubik', sans-serif;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 80px;
    background: linear-gradient(to top, transparent);
}

header .logo{
    font-size: 28px;
    font-weight: 600;
    color: #fff;
    float: left;
}

header .menu{
    float: right;
    margin-top: 5px;
}

header ul li{
    display: inline-block;
}

header ul li a{
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    margin: 0 25px;
    font-weight: 300;
    letter-spacing: 1px;
    border-radius: 5rem;
    transition: .2s linear;
}

header ul li a:hover{
    color: #1b5781;
}

.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #00BCF2;
}

.content{
    color: #fff;
    width: 100%;
    padding-top: .10rem;
    margin-left: 80px;
    margin-top: 90px;
}

.content h1{
    font-size: 48px;
}
.content .btn-group{
    margin-top: 45px;
}

.content a{
    display: inline-block;
    padding: 15px 45px;
    text-decoration: none;
    color: #fff;
    border-radius: 50px;
}

.content a.color1{
    background-color: #1b5781;
}

.gif{
    margin-bottom: .20rem;
    margin-right: 4rem;
    margin-top: 70px;
}

.gif img{
    width: 50vw;
}

.about{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    padding-top: 3rem;
    padding-left: 5rem;
    padding-right: 4rem;
}

.about-title h2{
    font-size: 48px;
    padding-top: 2rem;
}

.about-title hr{
    border: none;
    height: 4px;
    width: 150px;
    background-color: #1b5781;
}

.about p{
    padding-top: 1rem;
    font-size: 20px;
    line-height: 2.5rem;
}

.about img{
    width: 50vw;
    padding-top: 3rem;
}

.other{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #00BCF2;
    padding-top: 3rem;
    padding-left: 5rem;
    padding-right: 4rem;
    color: #fff;
}

.other-title h2{
    font-size: 48px;
    padding-top: 2rem;
    background-color: #00BCF2;
    color: #fff;
}

.other-title hr{
    border: none;
    height: 4px;
    width: 150px;
    background-color: #1b5781;
}

.other p{
    padding-top: 1rem;
    font-size: 20px;
    line-height: 2.5rem;
    text-align: right;
}

.other img{
    width: 70vw;
    padding-top: 3rem;
}

